<div class="list">
    <label class="item item-input" style="max-width:100%">
            <span class=input-label>Publicacion</span>
            <textarea required ng-model="data.mensaje"></textarea>
        </label>
    <button class="button button-block button-calm" ng-click="comentar()">publicar</button>

    <div style="overflow:auto;max-height: 80%;">
        <div class="card" ng-repeat="comment in publicacion">

            <div class="item item-avatar">
                <img src="img/avatar.png">
                <h2>{{comment.nombre + comment.apellidos}}</h2>
                <p>{{comment.fecha}}</p>
            </div>
            <div class="item item-body">
                <p>
                    {{comment.mensaje}}
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>
        </div>
    </div>

</div>